<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API-HOME PAGE</title>
</head>
<style>
    body{
        background: rgb(132, 221, 132);
    }
    .main h1{
        color: rgb(27, 54, 45);
        text-align: center;

    }
</style>
<body>
    <header>
        <div class="main">
            <h1>HOME API </h1>
         <p>Appliction programming Interface.
            A REST API (Representational State Transfer Application Programming Interface) implemented with Django is a web service that follows the principles of REST architecture, allowing communication and data exchange between a client and a server. In a Django REST API, models define the data structure, serializers handle data conversion to and from JSON format, views handle HTTP requests, and URLs route requests to the appropriate views. Django's REST framework extends Django to simplify the creation of APIs, providing tools for authentication, permissions, and request/response handling. Developers can use class-based views and decorators to define API endpoints, and the framework handles common tasks such as serialization, authentication, and response formatting. This approach enables the development of scalable and modular APIs that adhere to RESTful principles, promoting simplicity, scalability, and a stateless communication paradigm.</p><br><br><hr>
 

        <ul>
            <li><h1>👉 CREATE PROJECT AND APP </h1></li>
            <li><h1>👉 CREATE SERIALZER ==> ACCORDING MODELS OF PROJECT ✅</h1></li>
            <li><h1>👉 MAPING URL ==> API/URLS  </h1></li>
            <li><h1>👉 VIEWS.PY ==> API/VIEWS.PY  </h1></li>
            <li><h1>👉 AUTHENTICATION </h1></li>
            
        </ul>


        </div>
    </header>
    
</body>
</html>

      